@import '../../components/variables/variables.scss';

.skills__section {
    display: inline-block;
    vertical-align: top;
    width: 33%;

    @media only screen and (max-width: 1330px) { width: 100%; }
}

.skills__list {
    margin: 0;
    padding: 0;

    &[data-aos="skills"] {
        li::after {
            transition: width 1s ease;
            width: 0;
        }

        li:nth-of-type(1)::after {
            transition-delay: 0.5s;
        }

        li:nth-of-type(2)::after {
            transition-delay: 1s;
        }

        &.aos-animate {
            .skills__60::after {
                width: 60%;
            }

            .skills__70::after {
                width: 70%;
            }

            .skills__80::after {
                width: 80%;
            }

            .skills__90::after {
                width: 90%;
            }

            .skills__95::after {
                width: 95%;
            }
        }
    }

    li {
        position: relative;
        z-index: 2;
        display: inline-block;
        box-sizing: border-box;
        margin: 2px 0;
        padding: 4px;
        width: 95%;
        color: $colour__white;
        list-style: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        &::before {
            width: 100%;
            background: $colour__xtra-light-grey;
            z-index: -1;
        }

        &::after {
            z-index: -1;
            background: $colour__slightly-lost-red;
        }
    }
}