@import 'variables/variables';
@import 'mixins/mixins';

.content-block section {
    padding-top: 50px;

    &:last-of-type {
        padding-bottom: 50px;
    }
}

/*--------------------------------------------------------------
# Résumé
--------------------------------------------------------------*/
.resume {
    @include clearfix;
    position: relative;
    margin: 40px auto;
    padding: 0;

    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 50%;
        margin-left: -2px;
        width: 4px;
        height: 100%;
        background: $colour__medium-grey;
    }
}

.resume__title {
    position: relative;
    z-index: 2;
    clear: both;
    margin: 31px auto;
    width: 150px;
    padding: 1em 2em;
    background-color: $colour__slightly-lost-red;
    font-size: 10.5pt;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $colour__white;
}

.resume__item {
    position: relative;
    z-index: 2;
    float: left;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 20px;
    font-size: 14px;
    line-height: 21px;
    list-style: none;

    @include small-plus {
        margin: 10px 0;
        width: 47.5%;
    }
    
    @include phone {
        float: none;
        margin: 30px auto;
        width: 90%;
        background: $colour__xtra-light-grey;
    }

    &:nth-of-type(2n) {
        float: right;
        clear: right;

        @include phone { float: none; }

        &::after {
            @include large { left: -7.4%; }
            @include medium { left: -7.8%; }
            @include small { left: -8.8%; }
        }

        .resume__item--arrow {
            left: -3%;
            border-left: none;
            border-right: 16px solid transparent;
        }

        &:hover {
            .resume__item--arrow {
                border-right-color: $colour__xtra-light-grey;
            }
        }
    }

    @include small-plus {
        &:nth-of-type(3) {
            margin-top: 120px;
        }

        &:nth-of-type(5) {
            margin-top: 40px;
        }

        &:nth-of-type(6) {
            margin-top: 50px;
        }

        &:nth-of-type(9) {
            margin-top: 70px;
        }

        &:nth-of-type(11) {
            margin-top: 100px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 18px;
            @include large { right: -7.4%; }
            @include medium { right: -7.8%; }
            @include small { right: -8.8%; }
            display: block;
            width: 18px;
            height: 18px;
            border: 2px solid $colour__medium-grey;
            background: $colour__light-grey;
        }
    }

    &:hover {
        background: $colour__xtra-light-grey;

        &::after {
            background: $colour__slightly-lost-red;
        }

        .resume__item--arrow {
            border-left-color: $colour__xtra-light-grey;
        }
    }

    .resume__item--arrow {
        position: absolute;
        top: 18px;
        right: -3%;
        transition: all 0.5s ease;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 16px solid transparent;

        @include phone { display: none; }
    }

    .heading-3 {
        margin-top: 0;
    }

    ul {
        margin: 5px 0;
        padding-left: 20px;
    }

    p {
        margin: 0;
    }
}

.resume__end {
    position: absolute;
    bottom: -20px;
    left: 50%;
    z-index: 20;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    border: 3px solid $colour__medium-grey;
    border-radius: 100%;
    background: $colour__slightly-lost-red;
    list-style: none;
}