.hamburger {
    padding: 15px;

    display: inline-block;

    transition: opacity, filter 0.15s linear;

    border: 0;

    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &.active {
        &:hover {
            opacity: 0.7;
        }

        .hamburger__inner,
        .hamburger__inner::before,
        .hamburger__inner::after {
            background-color: #000;
        }
    }
}

.hamburger__box {
    position: relative;

    display: inline-block;

    width: 40px;
    height: 24px;
}

.hamburger__inner {
    top: 50%;

    display: block;

    margin-top: -2px;

    &,
    &::before,
    &::after {
        position: absolute;

        transition: transform 0.15s ease;

        width: 40px;
        height: 4px;
        border-radius: 4px;

        background-color: #000;
    }

    &::before,
    &::after {
        content: '';

        display: block;
    }

    &::before {
        top: -10px;
    }

    &::after {
        bottom: -10px;
    }
}
