.hamburger {
    padding: 15px;

    display: inline-block;

    transition: opacity, filter 0.15s linear;

    border: 0;

    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }

    &.active {
        &:hover {
            opacity: 0.7;
        }

        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: #000;
        }
    }
}

.hamburger-box {
    width: 40px;
}
