@import url(setStyle($fonts, $selectedFont, import));

body,
button,
input,
select,
optgroup,
textarea {
    color: $colour__dark-grey;
    font: setStyle($fonts, $selectedFont, tertiary);
    line-height: 1.5em;
}

@import 'headings';
@import 'copy';
