@import url(setStyle($fonts, $selectedFont, import));

body,
button,
input,
select,
optgroup,
textarea {
    color: $colour__white;
    font: setStyle($fonts, $selectedFont, tertiary);
    line-height: 1.5em;
}
