/*-----------------------------------------------------------------*
 * https://coolors.co/export/pdf/950606-fa9f42-2b4162-0b6e4f-e0e0e2
 *-----------------------------------------------------------------*/
$colour__slightly-lost-red: #950606;
$colour__dark-grey: #0f0e0e;
$colour__medium-grey: #2c2c2c;
$colour__light-grey: #666565;
$colour__xtra-light-grey: #e5dfdd;
$colour__white: #fbf5f3;
