/*--------------------------------------------------------------
# Colour Set #1
# https://i.imgur.com/039fM3e.png
--------------------------------------------------------------*/
$colour__cotton-red: #c53211;
$colour__clean-deep-grey: #2e3830;
$colour__khaki: #e6dbc9;

/*--------------------------------------------------------------
# Colour Set #2
https://i.imgur.com/3DJ2XXq.png
--------------------------------------------------------------*/
$colour__deep-rusted-red: #c1432e;
$colour__silver: #4b6777;
$colour__rusted-gold: #ce9e62;
$colour__black-for-contrast: #2c2c2c;

$colour_slightly-lost-red: #c60021;
