/*--------------------------------------------------------------
# Colour Set options
https://i.imgur.com/3DJ2XXq.png
--------------------------------------------------------------*/
$colour__deep-rusted-red: #c1432e;
$colour__silver: #4b6777;
$colour__rusted-gold: #ce9e62;
$colour__black-for-contrast: #2c2c2c;

/*------------------------------------------------------------*/

$colour__slightly-lost-red: #c60021;
$colour__dark-grey: #1a1a1d;
$colour__white: #f5f1f2;
