$selectedFont: combo5;

$fonts: (
    combo1: (
        import:
            'https://fonts.googleapis.com/css?family=Archivo+Narrow|Julius+Sans+One|Source+Sans+Pro',
        primary: 62pt
            (
                'Julius Sans One',
                sans-serif
            ),
        primaryTextTransform: uppercase,
        secondary: bold 24pt
            (
                'Archivo Narrow',
                sans-serif
            ),
        secondaryTextTransform: uppercase,
        tertiary: 16pt
            (
                'Source Sans Pro',
                sans-serif
            )
    ),
    combo2: (
        import:
            'https://fonts.googleapis.com/css?family=Cinzel|Lora|Archivo+Narrow',
        primary: 56pt
            (
                'Cinzel',
                serif
            ),
        primaryTextTransform: none,
        secondary: bold 24pt
            (
                'Archivo Narrow',
                sans-serif
            ),
        secondaryTextTransform: uppercase,
        tertiary: 15pt
            (
                'Lora',
                serif
            )
    ),
    combo3: (
        import:
            'https://fonts.googleapis.com/css?family=Archivo+Narrow|Six+Caps|Source+Sans+Pro',
        primary: 130pt
            (
                'Six Caps',
                sans-serif
            ),
        primaryTextTransform: uppercase,
        secondary: 22pt
            (
                'Archivo Narrow',
                sans-serif
            ),
        secondaryTextTransform: uppercase,
        tertiary: 14pt
            (
                'Source Sans Pro',
                sans-serif
            )
    ),
    combo4: (
        import: 'https://fonts.googleapis.com/css?family=Anton|Open+Sans:300',
        primary: 120pt
            (
                'Anton',
                sans-serif
            ),
        primaryTextTransform: uppercase,
        secondary: 21pt
            (
                'Open Sans',
                sans-serif
            ),
        secondaryTextTransform: uppercase,
        tertiary: 14pt
            (
                'Open Sans',
                sans-serif
            )
    ),
    combo5: (
        import:
            'https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans:300',
        primary: 38pt
            (
                'Josefin Slab',
                serif
            ),
        primaryTextTransform: uppercase,
        secondary: 18pt
            (
                'Open Sans',
                sans-serif
            ),
        secondaryTextTransform: uppercase,
        tertiary: 12pt
            (
                'Open Sans',
                sans-serif
            )
    )
);
