@import 'variables/variables';

.content-block section {
    padding-bottom: 50px;
}

/*--------------------------------------------------------------
# Résumé
--------------------------------------------------------------*/
.resume {
    margin: 0;
    padding: 0;
}

.resume__title {
    display: inline-block;

    padding: 1em 2em;

    background-color: $colour__slightly-lost-red;

    font-size: 10.5pt;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $colour__white;
}

.resume__item {
    cursor: pointer;

    transition: all 0.5s ease;

    margin: 10px 0;
    width: 47.5%;
    padding: 20px;

    list-style: none;
}
